<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Netagora{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/ecenetagora/css/css_body2.css') }}" type="text/css" media="screen" />
        <!-- Scripts: inc. TableSorter -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/ecenetagora/js/nav.js') }}"></script>
        <script type="text/javascript" language="javascript">
        $(document).ready(function() {
                $('.fav_publication').click(function() {
                    alert('undo favorite');
                    var publication_id = $(this).attr('id');
                    $.ajax({type: "POST",
                       url: "{{ path('favourite_publication') }}",
                       data: { publication_id: publication_id },
                       success:function(data){
                           $('.ids').hide('slow');
                           $('#'+publication_id).removeClass('fav_publication');
                           $('#'+publication_id).addClass('fav_icon');
                           $('.ids').show('slow');
                       }
                    });
                });
                
                $('.fav_icon').click(function() {
                    alert('put favorite');
                    var publication_id = $(this).attr('id');
                    $.ajax({type: "POST",
                       url: "{{ path('favourite_publication') }}",
                       data: {publication_id: publication_id},
                       success:function(data){
                            $('.ids').hide('slow');
                            $('#'+publication_id).removeClass('fav_icon');
                            $('#'+publication_id).addClass('fav_publication');
                            $('.ids').show('slow');
                       }
                    });
                });
        });
        </script>
        {{ twitter_anywhere_setup() }}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=157952174313665";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% set tpl = 'ECENetagoraBundle:Security:'~ (is_granted('ROLE_MEMBER') ? 'authenticated' : 'anonymous') ~'.html.twig' %}
        {% include tpl %}

        {% block main_content %}
            <div class="body_container">
                <div class="body_insider">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        {#
        <div class="body_container">
            <div class="body_insider">
                {% block content %}{% endblock %}
            </div>
        </div>
        #}
        <div style="clear: both;"></div>
        <div id="footer_body" class="fill">
            <div id="logo"><img src="{{ asset('bundles/ecenetagora/images/netagora.png') }}" /></div>
            <div class="links_footer">
                <a href="{{ path('about') }}">About</a><br />
                <a href="{{ path('documentation') }}">Documentation</a><br />
                <a href="{{ path('credits') }}">Credits</a>
            </div>
            <div class="links_footer">
                <a href="http://symfony.com/" target="_blank">We use Symfony 2</a><br />
                <a href="https://twitter.com/#!/NetAgora" target="_blank">Twitter</a><br />
                <a href="https://www.facebook.com/netagora" target="_blank">Facebook</a>
            </div>
        </div>
        {{ twitter_anywhere_initialize() }}
    </body>
</html>