<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('bundles/netagora/css/form.css') }}" rel="stylesheet" type="text/css" media="screen" />
        {{ twitter_anywhere_setup() }}
    </head>
    <body>
        Début layout <br />
        <span id="twitter_connect">
            {#<a href="{{ path('twitter_login') }}">Connect with Twitter</a>#}
        </span>
        {{ twitter_anywhere_setConfig('callbackURL', url('twitter_login_check')) }}
        {{ twitter_anywhere_queue('T("#twitter_connect").connectButton()') }}
        {% block content %}{% endblock %}
        <br />
        Fin layout
        {{ twitter_anywhere_initialize() }}
    </body>
</html>