<h1>User</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ entity.mail }}</td>
        </tr>
        <tr>
            <th>Inscription_date</th>
            <td>{{ entity.inscriptiondate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Img</th>
            <td>{{ entity.img }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ entity.age }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ entity.location }}</td>
        </tr>
        <tr>
            <th>Last_connection</th>
            <td>{{ entity.lastconnection|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
