<div class="topbar">
    <div class="fill">
        <div class="container">
            <ul>
                <li id="videos">
                    <h3><a href="{{ path('videos') }}">Videos</a></h3>
                </li>
                <li id="pictures">
                    <h3><a href="{{ path('photos') }}">Pictures</a></h3>
                </li>
                <li id="music">
                    <h3><a href="{{ path('music') }}">Music</a></h3>
                </li>
                <li id="locations">
                    <h3><a href="{{ path('location') }}">Locations</a></h3>
                </li>
                <li id="feeds">
                    <h3><a href="{{ path('feeds') }}">Feeds</a></h3>
                </li>
                <li id="other">
                    <h3><a href="{{ path('other') }}">Other</a></h3>
                </li>
           </ul>
           <div class="nav secondary-nav">
               <ul id="nav2">
                   <li id="favoris"><a href="#"><img src="{{ asset('bundles/ecenetagora/images/bigHeart.png') }}" /></a></li>
                   <li class="menu" id="not_co">
                        <a href="#" class="menu"><img src="{{ asset('bundles/ecenetagora/images/avatar.png') }}" /></a>
                        <ul class="menu-dropdown">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form action="">
                      <input type="text" placeholder="Search" />
                </form>
           </div>     
        </div>
    </div>
</div>
<ul id="navigation">
    <li class="home">
        <a title="Home" href="#">
            <img src="{{ asset('bundles/ecenetagora/images/Home.png') }}" height="18px" />
        </a>
    </li>
</ul>