{% extends "ECENetagoraBundle::layout.html.twig" %}

{% block main_content %}
<div class="body_container" id="home_co">

    <div class="body_insider">
        <div class="welcome_title">
            Welcome {{ app.user.firstname }}!
        </div>
                      
        <div class="cat_container">
            <!-- START CONTAINER VIDEOS -->
            <div class="categories" id="home_videos">
                <div class="cat_title">
                    Latest videos <span class="close">x</span>
                </div>
                <div class="cat_new_content">
                    {% for moviePublication in moviePublications%}
                        <div class="content">
                            <div class="description">
                                <a href="https://twitter.com/#!/{{ moviePublication.authorScreenName }}" target="_blank">{{ moviePublication.authorScreenName }}</a>
                            </div>
                            <div class="source">
                                <a href="{{ moviePublication.linkUrl }}">{{ moviePublication.linkUrl }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END CONTAINER VIDEOS -->
            <!-- START CONTAINER MUSIC -->
            <div class="categories" id="home_music">
                <div class="cat_title">
                    Latest music <span class="close">x</span>
                </div>
                <div class="cat_new_content">
                    {% for musicPublication in musicPublications%}
                    <div class="content">
                        <div class="description">
                            <a href="https://twitter.com/#!/{{ musicPublication.authorScreenName }}" target="_blank">{{ musicPublication.authorScreenName }}</a>
                        </div>
                        <div class="source">
                            <a href="{{ musicPublication.linkUrl }}">{{ musicPublication.linkUrl }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END CONTAINER MUSIC -->
            <!-- START CONTAINER PICTURES -->
            <div class="categories" id="home_pictures">
                <div class="cat_title">
                    Latest pictures <span class="close">x</span>
                </div>
                <div class="cat_new_content">
                    {% for photoPublication in photoPublications%}
                    <div class="content">
                        <div class="description">
                            <a href="https://twitter.com/#!/{{ photoPublication.authorScreenName }}" target="_blank">{{ photoPublication.authorScreenName }}</a>
                        </div>
                        <div class="source">
                            <a href="{{ photoPublication.linkUrl }}">{{ photoPublication.linkUrl }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END CONTAINER PICTURES -->
            <!-- START CONTAINER LOCATIONS -->
            <div class="categories" id="home_locations">
                <div class="cat_title">
                    Latest locations <span class="close">x</span>
                </div>
                <div class="cat_new_content">
                    {% for locationPublication in locationPublications%}
                    <div class="content">
                        <div class="description">
                            <a href="https://twitter.com/#!/{{ locationPublication.authorScreenName }}" target="_blank">{{ locationPublication.authorScreenName }}</a>
                        </div>
                        <div class="source">
                            <a href="{{ locationPublication.linkUrl }}">{{ locationPublication.linkUrl }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END CONTAINER LOCATIONS -->
            <!-- START CONTAINER OTHER -->
            <div class="categories" id="home_other">
                <div class="cat_title">
                    Latest other feeds <span class="close">x</span>
                </div>
                <div class="cat_new_content">
                    {% for otherPublication in otherPublications%}
                    <div class="content">
                        <div class="description">
                            <a href="https://twitter.com/#!/{{ otherPublication.authorScreenName }}" target="_blank">{{ otherPublication.authorScreenName }}</a>
                        </div>
                        <div class="source">
                            <a href="{{ otherPublication.linkUrl }}">{{ otherPublication.linkUrl }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END CONTAINER OTHER -->
            <!-- START CONTAINER FEEDS -->
            <div class="categories" id="home_feeds">
                <div class="cat_title">
                    Latest feeds <span class="close">x</span>
                </div>
                <div class="cat_new_content">
                    {% for feedsPublication in feedsPublications %}
                    <div class="content">
                        <div class="description">
                            <a href="https://twitter.com/#!/{{ feedsPublication.authorScreenName }}" target="_blank">{{ feedsPublication.authorScreenName }}</a>
                        </div>
                        <div class="source">
                            <a href="{{ feedsPublication.linkUrl }}">{{ feedsPublication.linkUrl }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END CONTAINER FEEDS -->
            <!-- START CONTAINER PROFIL -->
            <div class="categories" id="home_profil">
                  <div class="cat_title">
                      PROFILE <span class="close">x</span>
                  </div>
                    {% if app.user.picture %}
                        {% set picture = '/avatars/' ~ app.user.picture %}
                        <a href="{{ path('profile') }}">
                            <center><img style="width: 100px; height: 100px;" src="{{  picture }}" /></center>
                        </a>
                    {% else %}
                        <center><img src="{{ asset('bundles/ecenetagora/images/avatar.png') }}" /></center>
                    {% endif %}
                  </div>
            </div>
            <!-- END CONTAINER PROFIL -->
        </div>
                      
        <div id="cat_missing"></div>
    </div>
                                                                    
</div>

{% endblock %}