{% extends "ECENetagoraBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block field_row %}
{% spaceless %}
    <li>
        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </li>
{% endspaceless %}
{% endblock field_row %}

{% block content %}

    <form id="profile" action="{{ path('profile') }}" method="post" {{ form_enctype(form) }}>
          <fieldset>
                <legend class="subtitle">Profile</legend>
                {% if app.user.twitterID %}
                    <span id="twitter_connect" class="span_twitter_connect">
                        Twitter account linked: <b>{{ app.user.twitterUsername }}</b>
                    </span>
                    <br /><br />
                {% else %}
                    <span id="twitter_connect" class="span_twitter_connect">
                        <a class="twitter_connect_link" href="{{ path('twitter_login') }}">Connect your Twitter account</a>
                    </span>
                    <br /><br />
                {% endif %}
                <ol>
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.birthdate) }}
                    {{ form_row(form.location) }}
                </ol>
            </fieldset>    
                <div class="division"></div>
            <fieldset>
                <legend class="subtitle">Picture</legend>
                <ol>{% if (user.picture) %}
                        <div class="avatar"><img src="{{ asset('/avatars/' ~ user.picture) }}" /></div>
                    {% else %}
                        <i> No picture yet! </i>
                    {% endif %}
                    
                    {{ form_row(form.file) }}
                </ol>
          </fieldset>
                    
           <div class="division"></div>
            <fieldset>
                {{ form_rest(form) }}
                <button type=submit>Save changes</button>
          </fieldset>
    </form>
{% endblock %}