{% extends "ECENetagoraBundle::menu_logged.html.twig" %}

{% block content %}

    <div class="feeds">
            <div class="one_feed">
                  <div class="avatar">
                        <img src="{{avatar_url}}" />
                  </div>                                    
                  <div class="content">
                        <div class="ids">
                              <div class="pseudo"><a href="{{feed_author_url}}" target="_blank">{{feed_author}}</a></div>
                              <div class="{{networking}}"></div>
                              <div class="fav_icon"></div>
                              <div class="share_feed">{{social_buttons|raw}}</div>
                        </div>
                        <div class="feed_content {{display}}">
                              <div class="text">{{feed_text}}</div>
                              <div class="link_origin"><a href="{{link_url}}" target="_blank">{{link}}</a><br />
                              <iframe width="280" height="157" src="{{link_url}} frameborder="0" style="border:0;" allowfullscreen></iframe></div>
                        </div>
                  </div>
            </div>
    </div>
    
{% endblock %}