{% extends "ECENetagoraBundle::layout.html.twig" %}

{% block content %}
    <div class="page_name">Videos Feeds</div>
    {% for publication in publications %}
        <div class="feeds">
            <div class="one_feed">
                <div class="avatar">
                        <img src="{{ publication.authorPicture }}" alt=""/>
                </div>
                <div class="content">
                    <div class="ids">
                        <div class="pseudo">
                            <a href="https://twitter.com/#!/{{ publication.author }}" target="_blank">
                                {{ publication.author }}
                            </a>
                        </div>
                        <div class="{{ publication.socialNetwork }}"></div>
                        {% if(publication.isFavorite) %}
                            <div id="{{ publication.id }}" class="fav_publication"></div>
                        {% else %}
                            <div id="{{ publication.id }}" class="fav_icon"></div>
                        {% endif %}
                        <div class="share_feed">
                            <a class="t_reply" href="https://twitter.com/intent/tweet?in_reply_to={{ publication.reference }}" target="_blank"></a>
                            <a class="t_favorite" href="https://twitter.com/intent/favorite?tweet_id={{ publication.reference }}" target="_blank"> </a>
                            <a class="t_retweet" href="https://twitter.com/intent/retweet?tweet_id={{ publication.reference }}" target="_blank"> </a>
                        </div>
                    </div>
                    <div class="feed_content display">
                        <div class="text">{{ publication.content }}</div>
                        <div class="link_origin">
                            <a href="{{ publication.linkUrl }}" target="_blank">{{ publication.linkUrl }}</a>
                            <br />
                            <iframe width="850" height="157" src="{{ publication.linkUrl }}" frameborder="0" style="border:0;" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>No publications</p>
        {% if app.user.twitterID %}
            <p>
                <a href="{{ path('twitter_refresh') }}">Refresh your timeline</a>
            </p>
        {% else %}
            <p>
                <a href="{{ path('twitter_login') }}">Connect your Twitter account</a>
            </p>
        {% endif %}
    {% endfor %}

{% endblock %}