{% extends "ECENetagoraBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block field_row %}
{% spaceless %}
    <li>
        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </li>
{% endspaceless %}
{% endblock field_row %}

{% block title -%}
    {{ parent() }} - Request a new password
{%- endblock %}

{% block content %}

    <form id="password_retrieval" action="{{ path('request_password') }}" method="post">
        <fieldset>
            <legend class="subtitle">Request a new password</legend>
            <ol>
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
            </ol>
            {{ form_rest(form) }}
            <button type="submit">Send me a new password</button>
        </fieldset>
    </form>

{% endblock %}