{% extends "ECENetagoraBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block field_row %}
{% spaceless %}
    <li>
        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </li>
{% endspaceless %}
{% endblock field_row %}

{% block title -%}
    {{ parent() }} - Change your password
{%- endblock %}

{% block content %}

    <form id="password_retrieval" action="{{ path('reset_password', { 'token': token }) }}" method="post">
        <fieldset>
            <legend class="subtitle">Change your password</legend>
            <ol>
                {{ form_row(form.password) }}
            </ol>
            {{ form_rest(form) }}
            <button type="submit">Change your password</button>
        </fieldset>
    </form>

{% endblock %}