{% extends "ECENetagoraBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block field_row %}
{% spaceless %}
    <li>
        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </li>
{% endspaceless %}
{% endblock field_row %}

{% block title -%}
    {{ parent() }} - Registration
{%- endblock %}

{% block content %}

    <form novalidate="novalidate" id="subscribe" action="{{ path('subscribe') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend class="subtitle">Subscribe</legend>
                <ol>
                {% for field in form %}
                    {{ form_row(field) }}
                {% endfor %}
                </ol>
             </fieldset>
                    
           <div class="division"></div>
 
            <fieldset>
                <button type=submit>Register</button>
          </fieldset>
    </form>

{% endblock %}