<h1>Known_link list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Title_head</th>
            <th>H1</th>
            <th>H2</th>
            <th>Tags</th>
            <th>Main_url</th>
            <th>Keywords</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('known_link_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.category }}</td>
            <td>{{ entity.titlehead }}</td>
            <td>{{ entity.h1 }}</td>
            <td>{{ entity.h2 }}</td>
            <td>{{ entity.tags }}</td>
            <td>{{ entity.mainurl }}</td>
            <td>{{ entity.keywords }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('known_link_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('known_link_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('known_link_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
