<h1>Known_link</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ entity.category }}</td>
        </tr>
        <tr>
            <th>Title_head</th>
            <td>{{ entity.titlehead }}</td>
        </tr>
        <tr>
            <th>H1</th>
            <td>{{ entity.h1 }}</td>
        </tr>
        <tr>
            <th>H2</th>
            <td>{{ entity.h2 }}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>{{ entity.tags }}</td>
        </tr>
        <tr>
            <th>Main_url</th>
            <td>{{ entity.mainurl }}</td>
        </tr>
        <tr>
            <th>Keywords</th>
            <td>{{ entity.keywords }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('known_link') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('known_link_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('known_link_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
