{% extends "ECENetagoraBundle::menu_notlogged.html.twig" %}

{% block content %}
    {{debug|raw}}
    <hr />
    <br /><br /><br />
    <h1>Subscribe !</h1>
    <h2>Fill the form to subscribe to NetAgora</h2>

    <form action="{{ path('subscribe') }}" method="post" {{ form_enctype(form) }}>
        {#{{ form_widget(form) }} #}
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
            <br />
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
            <br />
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
            <br />
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
            <br />
            {{ form_label(form.location) }}
            {{ form_widget(form.location) }}
            {{ form_errors(form.location) }}
            <br />
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
            <br />
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
            <br />
            <div id="birthdate_label">
            {{ form_label(form.birthdate) }}
            </div>
            {{ form_widget(form.birthdate)}}
            {{ form_errors(form.birthdate) }}
        
        {{ form_rest(form) }}
        <p>
            <br /><br /><br />
            <button type="submit">Create</button>
        </p>
    </form>
    
    <span id="twitter_connect">
        {#<a href="{{ path('twitter_login') }}">Connect with Twitter</a>#}
    </span>
    
    {{ twitter_anywhere_setConfig('callbackURL', url('twitter_login_check')) }}
    {{ twitter_anywhere_queue('T("#twitter_connect").connectButton()') }}

{% endblock %}